body {
    font-size: 16px;
    color: black;
    font-family: 'Itim', cursive;
}

/* HEADER */
#header-nav {
    border-radius: 0;
    border-bottom: 2px solid black;
    padding: 0px 0 0px;
    background-color: #c1c1c1;
}

#nav-list {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.navbar-header {
    padding: 8px;
}
.navbar-brand h1 {
    font-size: 2em;
    color: black;
    font-weight: bold;
    margin-top: -8px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
/** MENU BUTTON **/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid black;
    background-color: #c1c1c1;
}
.navbar-header button.navbar-toggle {
    clear:both;
    margin-top: -35px;
    /** T-FIX FOR BOTTOM SPACE OF BUTTON margin-bottom: 15px; **/
}
/* END OF HEADER */

/* HOME PAGE */

h2 {
    margin-bottom: 30px;
}
#chicken, #beef, #sushi {
    background: #c1c1c1;
    padding: 5px;
    margin-bottom: 20px;
}
.menu-items h3 {
    text-align: center;
    margin: 10 auto 10;
}
.menu-items p {
    padding: 20px;
    margin: auto;
}
/* END OF HOME PAGE */

/***************** MEDIUM DEVICES ONLY *****************/
@media (min-width: 992px) and (max-width: 1199px) {
    /* Header */

     /* End Header */
 
     /* Home Page */

     /* End Home Page */
 
 }
 
 /***************** SMALL DEVICES ONLY *****************/
 @media (min-width: 768px) and (max-width: 991px) {
      /* Home Page */

     /* End Home Page */
 }
 
 /***************** XTRA SMALL DEVICES ONLY *****************/
 @media (max-width: 767px) {
     /* Header */
     .navbar-brand h1 {
        font-size: 2em;
        color: black;
        font-weight: bold;
        margin: auto;
    }   
     #collapsable-nav {
        padding: 0;
        border: none;
     }

     #collapsable-nav a { /* Collapsed nav menu glyph */
        background-color: white;
        font-size: 1.2em;
        color: black;
        text-align: center;
        border-top: 2px solid black;
        border-left:2px solid black;
        border-right:2px solid black;
     }

     .collapse .navbar-collapse {
         padding: 0;
     }
     /* End Header */
    }